@keyframes placeHolderShimmer {
  0% {
    background-position: -800px 0
  }
  100% {
    background-position: 800px 0
  }
}


.skeletoncloth1 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9b172c 8%, #eeeeee 18%, #9b172c 33%);
  background-size: 800%;
}



.skeletoncloth2 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #557872 8%, #eeeeee 18%, #557872 33%);
  background-size: 800%;
}

.skeletoncloth3 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #f95c71 8%, #eeeeee 18%, #f95c71 33%);
  background-size: 800%;
}

.skeletoncloth4 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #9d2642 8%, #eeeeee 18%, #9d2642 33%);
  background-size: 800%;
}

.skeletoncloth5 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #fac35e 8%, #eeeeee 18%, #fac35e 33%);
  background-size: 800%;
}

.skeletoncloth6 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #dec6d4 8%, #eeeeee 18%, #dec6d4 33%);
  background-size: 800%;
}

.skeletoncloth7 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #bab8bd 8%, #eeeeee 18%, #bab8bd 33%);
  background-size: 800%;
}


.skeletoncloth8 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #ffffff 8%, #eeeeee 18%, #ffffff 33%);
  background-size: 800%;
}

.skeletoncloth9 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #000000 8%, #eeeeee 18%, #000000 33%);
  background-size: 800%;
}

.skeletoncloth10 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #ffffff 8%, #eeeeee 18%, #ffffff 33%);
  background-size: 800%;
}

.skeletoncloth11 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #c1a4d2 8%, #eeeeee 18%, #c1a4d2 33%);
  background-size: 800%;
}

.skeletoncloth12 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #aadeeb 8%, #eeeeee 18%, #aadeeb 33%);
  background-size: 800%;
}

.skeletoncloth13 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #caefaa 8%, #eeeeee 18%, #caefaa 33%);
  background-size: 800%;
}

.skeletoncloth14 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #d73163 8%, #eeeeee 18%, #d73163 33%);
  background-size: 800%;
}
.skeletoncloth15 {
  animation-duration: 3s;
  animation-fill-mode: forwards;
  animation-iteration-count: infinite;
  animation-name: placeHolderShimmer;
  animation-timing-function: linear;
  background-color: #f6f7f8;
  background: linear-gradient(to right, #f3593d 8%, #eeeeee 18%, #f3593d 33%);
  background-size: 800%;
}